.body {
  background: #ffff9b;
}

.header {
  text-align: center;
  font-size: 32px;
}
.header__bottom {
  margin-bottom: 30px;
}

.block_question {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.question {
  font-size: 26px;
  padding: 15px 0px 15px 0px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px 5px;
}

.green {
  width: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green_title {
  width: 100%;
  padding: 10px 5px 10px 0px;
  font-size: 22px;
}

#chetyre:checked ~ .green {
  background: #73eb77;
}

.red {
  width: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.red_title {
  width: 100%;
  padding: 10px 5px 10px 0px;
  font-size: 22px;
}

#chetyre:checked ~ .red {
  background: #d35a4e;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #ffff11;
  color: #006089;
  border: 3px solid #006089;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 25px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button:hover {
  text-decoration: none;
  background-color: #c0ff0c;
  color: #0a0000;
  border-color: #006089;
}

.header {
  text-align: center;
  font-size: 26px;
}

.block_question {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.question {
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid black;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px 5px;
}

.green {
  width: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green_title {
  width: 100%;
  padding: 5px 0px 5px 5px;
  font-size: 18px;
}

.red {
  width: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.red_title {
  width: 100%;
  padding: 5px 0px 5px 5px;
  font-size: 18px;
}

.img {
  width: 100%;
}